.alert {
  position: absolute !important;
  width: 40% !important;
  right: 6% !important;
  top: 0.5% !important;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  z-index: 400;
  padding: 0.8rem;
  opacity: 0.9;
  background: var(--light-color);
  margin-top: 86px;
  color: #333;
}
.alert-primary {
  background: var(--primary-color) !important;
  color: #fff !important;
}
.alert-light {
  background: var(--light-color) !important;
  color: #333 !important;
}
.alert-dark {
  background: var(--dark-color) !important;
  color: #fff !important;
}

.alert-danger {
  background: var(--danger-color) !important;
  color: #fff !important;
}

.alert-success {
  background: var(--success-color) !important;
  color: #fff !important;
}

.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

@media all and (max-width: 992px) {
  .alert {
    width: 50% !important;
    right: 1% !important;
  }
}
